:root {
    --bg-color: white;
    --text-color: #646cff;

    --text-color-card: white;
    --bg-color-card: #646cff;

    --bg-search-inp: #eee;
    --text-search-inp: black;
}

[ data-theme="dark"] {
    --bg-color: #19191A;

    --text-color-card: #646cff;
    --bg-color-card: #29292b;

    --bg-search-inp: #292929;
    --text-search-inp: white;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
}

.tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    line-height: 1.5;
    color: var(--text-color);
    gap: 15px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input[type="text"] {
    margin: 0 10px 0 10px;
    border: 2px solid #646cff;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s ease;
    background-color: var(--bg-color);
    color: var(--text-search-inp);
}

.search input[type="text"]:focus {
    outline: none;
    background-color: var(--bg-search-inp);
    color: var(--text-search-inp);
}

.search button {
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: #646cff;
    transition: 0.5s ease;
}

.search button:hover {
    cursor: pointer;
    color: var(--text-color-card);
    background-color: var(--bg-color-card);
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--text-color);
}

.pokemon-card {
    display: flex;
    padding: 20px;
    width: calc(33.33% - 40px);
    box-sizing: border-box;
    border: 2px solid #646cff;
    border-radius: 10px;
    background-color: var(--bg-color);
    transition: 0.5s ease;
}

.pokemon-card:hover {
    background-color: var(--bg-color-card);
    border-color: var(--boder-color);
    color: var(--text-color-card);
    cursor: pointer;
}

.name-pokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 15px;
    margin-left: 5px;
    font-size: 18px;
    border: 1px solid #646cff;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: #646cff;
    transition: 0.5s ease;
}

.btn:hover {
    background-color: #646cff;
    color: #fff;
    cursor: pointer;
}

.load {
    display: flex;
    justify-content: center;
}

.div-err {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.err {
    display: flex;
    justify-content: center;
}